<taglib name="html"/>

<include file="Framefile:yt_header"/>
<!-- BEGIN PAGE HEADER-->
<div class="yt-head-row">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>页面风格</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li><span>页面风格设置</span></li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover table-full-width  row-border order-column      ">
            <thead>
            <TR>
                <TD>项目</TD>
                <TD>常量</TD>
            </TR>
            </thead>
            <tbody>
            <TR>
                <TD>网页风格</TD>
                <TD>
                    <div class="input-group-btn">
                        <select class="form-control " id="select_interval_days" name="inputdatabox">
                            <option value="1"
                            <if condition="$style['web_style'] eq 1 ">selected="selected"</if>
                            >风格1</option>
                            <option value="2"
                            <if condition="$style['web_style'] eq 2 ">selected="selected"</if>
                            >风格2</option>
                            <option value="3"
                            <if condition="$style['web_style'] eq 3 ">selected="selected"</if>
                            >风格3</option>
                        </select>
                    </div>
                    <span class="input-group-btn">
            					<button class="btn btn-info" id="preview" type="submit"
                                        style="margin-left:22px;">预览</button>
							 </span>
                </TD>
            </TR>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 yt_marginbottom5 yt_margintop10">
        <button type="button" class="btn green yt_float_right yt_marginright50 " id="yt_dialog_btn_ok">确认修改 <i
                class="icon-ok"></i></button>
    </div>
</div>

</div>
<!--   END PAGE -->
</div>


<include file="Framefile:yt_footer"/>

<script>
    jQuery(document).ready(function () {
        App.initnocheckboxes();
        $('#yt_left_menu_setup').addClass("active");
        $('#yt_left_menu_setup_softinfo').addClass("active");

        $('#yt_left_menu_setup_arrow .arrow ').remove();
        $('#yt_left_menu_setup_arrow ').append('<span class="selected"></span> ');
        $('#yt_left_menu_setup_arrow ').append('<span class="arrow open"></span>	');

        $('#select_interval_days').select2("val", "{$Think.session.select_interval_days}");
        $('#regular_interval_days').select2("val", "{$Think.session.regular_interval_days}");
        $('#map_serviceinterval_days').select2("val", "{$Think.session.map_serviceinterval_days}");

    });
</script>

<script type="text/javascript">
    $("#preview").click(function () {
        var i = $('#select_interval_days').children('option:selected').val();
        var url = "ytsoft.php?s=/Admin/Index/detail/company_id/400700/web_style/" + i + ".html";
        window.open(url);
    });

    function dialogcheckdata() {
        var checkvalid = true;
        return checkvalid;
    };
</script>

<include file="Framefile:yt_dialog_data"/>

</body>
</html>
		 
		 
		 
		 
		 
 