<taglib name="html" />     
 
<include file="Framefile:yt_header" /> 

   <h3 class="form-section yt_margintop-5  yt_floatleft ">{$Think.cookie.think_language}首页{$Think.lang._TEST_}</h3>
         <div class="row">
            <div class="col-md-12 ">		
			
			                <h5 class="form-section yt_floatleft yt_margintop45 ">&nbsp;&nbsp;售后模块&nbsp;&nbsp;</h5>		
							
							<div class="yt_icon-btn  yt_floatleft ">
									&nbsp;&nbsp;{$index_service1}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_service2}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_service3}&nbsp;&nbsp;<p></p>
							</div>	
							
                            <div class="yt_margintop55  yt_floatleft  "><i class="icon-arrow-right "></i>						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_service4}<p></p>
										<span class="badge badge-important yt_position-absolute">{$count_serviceprocessdispatch}</span>
								</div>	 
							</div>				
						
                            <div class="yt_margintop55  yt_floatleft  "><i class="icon-arrow-right "></i>							
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_service5}<p></p>
										<span class="badge badge-important yt_position-absolute">{$count_serviceprocesscompleted}</span>
								</div>	 
							</div>	
						
                            <div class="yt_margintop55  yt_floatleft  "><i class="icon-arrow-right "></i>							
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_service6}<p></p>
										<span class="badge badge-important yt_position-absolute">{$count_serviceprocessconfirm}</span>
								</div>	 
							</div>	
							
							<span class="yt_marginright5 yt_margintop73 yt_floatleft " ><i class="icon-arrow-right "></i></span> 							
                            <div class="yt_margintop55  yt_floatleft  ">								
								<div class="yt_icon-btn">
										&nbsp;&nbsp;{$index_service7}
										&nbsp;{$index_service8}&nbsp;&nbsp;	<p></p>	
								</div>	
							</div>	
														
	                        <div class=" yt_floatleft yt_marginleft-450">&nbsp;&nbsp;&nbsp;<i class="icon-arrow-right "></i>					
								<div class="yt_icon-btn ">
								        &nbsp;&nbsp;{$index_service9}&nbsp;
										{$index_service10}&nbsp;
										{$index_service11}&nbsp;
										{$index_service12}&nbsp;&nbsp;<p></p>		
								</div>	 
							</div>							
							
																	
			
			</div>		
        </div>			

         <div class="row">
            <div class="col-md-12 yt_margintop20">		
			                <h5 class="form-section yt_floatleft yt_margintop45 ">&nbsp;&nbsp;销售模块&nbsp;&nbsp;</h5>		
							
                            <div class="yt_icon-btn yt_floatleft   ">
									&nbsp;&nbsp;{$index_sales1}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_sales2}&nbsp;&nbsp;<p></p>	
									&nbsp;&nbsp;{$index_sales3}&nbsp;&nbsp;<p></p>	
                            </div>	

                            <div class="yt_margintop25  yt_floatleft  ">	 <i class="icon-arrow-right "></i>						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_sales4}<p></p>
										<span class="badge badge-important yt_position-absolute">{$count_salesprocessconfirm}</span>
								</div>	 
							</div>	
														
                            <span class="yt_marginright5 yt_margintop45 yt_floatleft " > <i class="icon-arrow-right "></i></span> 	
                            <div class="yt_floatleft ">	 										
								<div class="yt_icon-btn">
								        &nbsp;&nbsp;{$index_sales5}&nbsp;&nbsp;<p></p>
										&nbsp;&nbsp;{$index_sales6}&nbsp;&nbsp; {$index_sales7} <p></p>							        
										&nbsp;&nbsp;{$index_sales8}&nbsp;&nbsp; {$index_sales9}	<p></p>
										<p></p>	
								</div>	
							</div>	

                             <span class="yt_floatleft yt_marginleft-230 yt_margintop73 " > <i class="icon-arrow-down "></i> </span>  																					
										
			
			</div>		
        </div>		
		
         <div class="row">
            <div class="col-md-12 yt_margintop30">	
			
			                <h5 class="form-section yt_floatleft yt_margintop15 ">&nbsp;&nbsp;库存管理&nbsp;&nbsp;</h5>					
			
                            <div class="yt_icon-btn yt_floatleft   ">
										&nbsp;&nbsp;{$index_stock1}&nbsp;&nbsp;{$index_stock2}&nbsp;&nbsp;<p></p>							
										<p></p>	
                            </div>	

                            <div class="yt_floatleft  ">	 <i class="icon-arrow-right "></i>						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_stock3} 	<p></p>
								</div>	 
							</div>	
							
                            <div class="yt_floatleft  ">	 <i class="icon-arrow-left "></i>						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_stock4}&nbsp;{$index_stock5}&nbsp;&nbsp;<p></p>
								</div>	 
							</div>	

                           <span class="yt_floatleft yt_marginleft-248 yt_margintop-15 " > <i class="icon-arrow-down "></i> </span> 
						   <span class="yt_floatleft yt_marginleft-270 yt_margintop-35 " >自动减库存</span>  		
			</div>		
        </div>		
		
         <div class="row">
            <div class="col-md-12 yt_margintop20">		
                            <h5 class="form-section yt_floatleft yt_margintop30 ">&nbsp;&nbsp;客户管理&nbsp;&nbsp;</h5>					
                            <div class="yt_icon-btn yt_floatleft   ">
									&nbsp;&nbsp;{$index_customer1}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_customer2}&nbsp;&nbsp;<p></p>
                            </div>	
							
                            <span class="yt_marginright5 yt_margintop30 yt_floatleft " > <i class="icon-arrow-right "></i></span> 								
							
                            <div class="yt_floatleft yt_margintop-15 ">						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;客户详细资料里面可以查询和添加：<p></p>
										&nbsp;&nbsp;销售记录，售后记录，投诉记录，客户图片&nbsp;&nbsp;<p></p>
										&nbsp;&nbsp;客户提醒日设置（按日或按年间隔提醒）&nbsp;<p></p>
								</div>	 
							</div>	
								
			</div>		
        </div>	

		<div class="row">
            <div class="col-md-12 yt_margintop20">		
                            <h5 class="form-section yt_floatleft yt_margintop45 ">&nbsp;&nbsp;定期提醒&nbsp;&nbsp;</h5>					
                            <div class="yt_icon-btn yt_floatleft   ">
									&nbsp;&nbsp;{$index_regularday1}&nbsp;<span class="badge badge-important">{$count_regularmaintenance}</span>&nbsp;<p></p>
									
									&nbsp;&nbsp;{$index_regularday2}&nbsp;<span class="badge badge-important ">{$count_regularday}</span>&nbsp;<p></p>
									&nbsp;&nbsp;{$index_regularday3}&nbsp;<span class="badge badge-important ">{$count_regularyear}</span>&nbsp;<p></p>
                            </div>	
							
                            <span class="yt_marginright5 yt_margintop45 yt_floatleft " > <i class="icon-arrow-right "></i></span> 								
							
                            <div class="yt_floatleft">						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;定期维护查询：{$index_regularday4}里面如果设置&nbsp;&nbsp;<p></p>
										&nbsp;&nbsp;了商品的定期维护时间间隔，那录入销售记&nbsp;&nbsp;<p></p>
										&nbsp;&nbsp;录后，就会自动按这个时间间隔提醒&nbsp;&nbsp;<p></p>
								</div>	 
							</div>								
			
			</div>		
        </div>	

         <div class="row">
            <div class="col-md-12 yt_margintop30">	
                            <h5 class="form-section yt_floatleft yt_margintop45 ">&nbsp;&nbsp;投诉管理&nbsp;&nbsp;</h5>					
			
                            <div class="yt_icon-btn yt_floatleft   ">
									&nbsp;&nbsp;{$index_complain1}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_complain2}&nbsp;&nbsp;<p></p>
									&nbsp;&nbsp;{$index_complain3}&nbsp;&nbsp;<p></p>
                            </div>	
							
                            <div class="yt_margintop25  yt_floatleft  ">	 <i class="icon-arrow-right "></i>						
								<div class="yt_icon-btn ">
										&nbsp;&nbsp;{$index_complain4}&nbsp;&nbsp;<p></p>
										<span class="badge badge-important yt_position-absolute ">{$count_complain}</span>
								</div>	 
							</div>								
			
			</div>		
        </div>		
		
  <a  href="__APP__/Index/index_menu/flag/1" class="btn btn-xs  Default  yt_floatright "  >刷新&nbsp;<i class=" icon-refresh "  ></i></a>  

      </div>
    <!--   END PAGE -->
   </div>

  <include file="Framefile:yt_footer" />
<script>

    jQuery(document).ready(function() {       
         App.init();
        $('#yt_left_menu_index').addClass("active");  
    });
</script>
</body>
</html>
		 
		 
		 
		 
		 
 