<taglib name="html" />
<style>
    .page{height:18px;padding-top:20px;text-align:center;}
    DIV.page {PADDING-RIGHT: 5px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center;margin-top:20px;}
    DIV.page A {BORDER: #E66C16 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 2px; TEXT-DECORATION: none}
    DIV.page A:hover {BORDER: #E45A11 1px solid; COLOR: #000; background:#FCD3BE;}
    DIV.page A:active {BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid}
    DIV.page SPAN.current {BORDER: #E34F0F 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #333; PADDING-TOP: 2px;BACKGROUND-COLOR: #FCD3BE;}
    DIV.page SPAN.disabled {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #aaa; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; }
</style>
<include file="Framefile:yt_header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/css/ssi-uploader.css"/>
<div class="yt-head-row">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>虚拟与现实	</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li id="li2">
                    <span id="model_img">模型贴图上传</span>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <div class="post-grids">
                <div class="col-md-12 ">
                    <h4 class="form-section">模型预览</h4>
                    <p class="yt_date">
                    <div id="d">
                        <div id="buttons_materials" class="bwrap"></div>
                    </div>
                    <div id="canvas-frame" style="width: 100%; height: 450px; cursor: auto;">
                    </div>
                    <div class="fd-btn"></div>
                    </p>
                    <button class="btn btn-primary start" onclick="start()">开始</button>
                    <button class="btn btn-warning cancel" onclick="stop()">停止</button>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <h4 class="form-section">商品模型上传</h4>
                <li class="btn-group yt_float_left">
                    <button type="button" class="btn {$btn_flag1} dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        <span><b>&nbsp; &nbsp;请选择商品&nbsp; &nbsp;</b></span> <i class="icon-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <strong>
                            <foreach name='goods_name' item="name">
                                <li><a href="javascript:void(0);" class="goodscate" gid="{$name.id}">{$name.name}</a></li>
                            </foreach>
                        </strong>
                    </ul>
                </li>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-condensed table-striped" id="table">
                        <thead id="12348">
                            <tr>
                                <th>序号</th>
                                <th>商品名称</th>
                                <th>模型</th>
                                <th>贴图</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal-content modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title" id="myModalLabel">贴图上传</h5>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-condensed table-striped table-bordered" id="table1">
            <thead>
            <tr>
                <th>序号</th>
                <th>字段</th>
                <th>字段值</th>
                <th>贴图上传</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>


<div class="modal-content modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title" id="myModalLabel">属性关联</h5>
    </div>
    <div class="modal-body" id="selectimg">
        <table class="table table-hover table-condensed table-striped table-bordered" id="table2">
            <thead>
            <tr>
                <th>序号</th>
                <th>属性</th>
                <th>MTL标题</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">提交更改</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>

<include file="Framefile:yt_footer" />
<script src="__PUBLIC__/js/three.js"></script>
<script src="__PUBLIC__/js/controls/OrbitControls.js"></script>
<script src="__PUBLIC__/js/loaders/DDSLoader.js"></script>
<script src="__PUBLIC__/js/loaders/MTLLoader.js"></script>
<script src="__PUBLIC__/js/loaders/OBJLoader.js"></script>
<script src="__PUBLIC__/js/ssi-uploader.js"></script>

<script>
    $('.goodscate').each(function () {
        $(this).click(function () {
            var g = $(this).html();
            var gid = $(this).attr('gid');
            $.post('__URL__/goodscatelist',{gid:gid},function (data) {
                if(data){
                    var list = "<tbody id='obj' info='objmtl'>";
                    for(var i = 0; i < data.length; i++){
                        var cate = data[i];
                        if(cate.cate != null){
                            var num = i + 1;
                            list += "<tr class='list' style='font-weight: lighter;'><th>" + num + "</th>";
                            list += "<th style='display: none' id='cateid'>" + cate.id + "</th>";
                            list += "<th id='cate'>" + cate.cate + "</th>";
                            list += "<th>"	+ "<div>" +
                                    "<div>" +
                                    "<input type='file' multiple class='ssi-upload1'/>" +
                                    "</div>" +
                                    "</div>" + "</th>";
                            list += "<th>" + '<a class="btn btn-primary upimgbtn">' + "贴图上传" + "</a>" + "</th>";
                        }
                        list += "</tr>";
                    }
                    list += "</tbody>";
                    var jtou = '<i class="icon-angle-right" id="jtou2"></i>';
                    if($('.icon-angle-right').length <=1 ) {
                        $('#model_img').append(jtou);
                    }
                    var goods = "<li id='li3' style='font-size: 14px;'>" + g + "</li>";
                    $('#li3').empty();
                    $('#li2').after(goods);
                    $('.list').empty();
                    $('#table').append(list);
                    $('.ssi-upload1').ssi_uploader({url:'__URL__/upload',maxFileSize:100,allowed:['obj','mtl'],data:{img:'1'}});
                    $('.upimgbtn').each(function () {
                        $(this).click(function () {
                            var cate_id = $(this).parent().prev().prev().prev().html();
                            var cate = $(this).parent().prev().prev().html();
                            $.post('__URL__/modelmap',{cate_id:cate_id,cate:cate},function (mes) {
                                    if(mes){
                                        $('#myModal').modal('toggle');
                                        var list1 = "<tbody>";
                                        for(var i = 0; i < mes.value.length; i++){
                                            var val = mes.value[i];
                                            if(val != null){
                                                var num = i + 1;
                                                list1 += "<tr class='list1' style='font-weight: lighter;'><th>" + num + "</th>";
                                                list1 += "<th>" + mes.attr + "</th>";
                                                list1 += "<th>" + val + "</th>";
                                                list1 += "<th style='display: none'>" + mes.cate_id + "</th>";
                                                list1 += "<th>"	+ "<div>" +
                                                    "<div>" +
                                                    "<input type='file' multiple class='ssi-upload'/>" +
                                                    "</div>" +
                                                    "</div>" + "</th>";
                                            }
                                            list1 += "</tr>";
                                        }
                                        list1 += "</tbody>";
                                        $('.list1').empty();
                                        $('#table1').append(list1);
                                        $('.ssi-upload').ssi_uploader({url:'__URL__/upload',maxFileSize:60,allowed:['jpg', 'gif', 'png', 'jpeg']});
                                    }else{
                                        alert('请先在该商品下添加字段和值！');
                                    }
                            });
                        });
                    });
                }
            });
        });
    });
</script>
<script>

    var container = document.getElementById( 'canvas-frame' );
    var width = document.getElementById('canvas-frame').clientWidth;
    var height = document.getElementById('canvas-frame').clientHeight;
    var camera, scene, renderer;
    var STATS_ENABLED = false;
    var directionalLight, pointLight;
    var mouse = new THREE.Vector2();
    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;
    var model;
    var mtlLoader;

    init();

    function init() {

        camera = new THREE.PerspectiveCamera( 70, width / height, 1, 100000 );
        camera.position.z = 200;
        camera.position.y = 100;
        camera.target = new THREE.Vector3();

        //场景
        var textureCube = new THREE.CubeTextureLoader()
            .setPath( 'public/textures/cube/Bridge2/')
            .load( [ 'posx.jpg', 'negx.jpg', 'posy.jpg', 'negy.jpg', 'posz.jpg', 'negz.jpg' ] );
        scene = new THREE.Scene();
        scene.background = textureCube;

        if ( STATS_ENABLED ) {

            stats = new Stats();
            container.appendChild( stats.dom );

        }
        //model
        THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

        mtlLoader = new THREE.MTLLoader();
        loadObj();

        // 渲染器
        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( width, height );
        renderer.setFaceCulling( THREE.CullFaceNone );
        container.appendChild( renderer.domElement );

        window.addEventListener( 'resize', onWindowResize, false );

        //鼠标
        controls = new THREE.OrbitControls( camera, renderer.domElement );
        controls.minDistance = 50;
        controls.maxDistance = 200;

        mouseHelper = new THREE.Geometry( new THREE.BoxGeometry( 1, 1, 10 ), new THREE.MeshNormalMaterial() );

        mouseHelper.visible = false;

        scene.add( mouseHelper );

        window.addEventListener( 'resize', onWindowResize, false );

        var moved = false;

        controls.addEventListener( 'change', function() { moved = true; } );

        window.addEventListener( 'mousemove', onTouchMove );
        window.addEventListener( 'touchmove', onTouchMove );



    }

    function loadObj(obj,mtl) {
        if(mtl) {
            mtlLoader.load(mtl, function (materials) {

                var ambient = new THREE.AmbientLight(0x050505);
                scene.add(ambient);

                //平行光
                directionalLight = new THREE.DirectionalLight(0xffffff, 2);
                directionalLight.position.set(2, 1.2, 10).normalize();
                scene.add(directionalLight);

                directionalLight = new THREE.DirectionalLight(0xffffff, 1);
                directionalLight.position.set(-2, 1.2, -10).normalize();
                scene.add(directionalLight);
                //点光
                pointLight = new THREE.PointLight(0xffaa00, 2);
                pointLight.position.set(2000, 1200, 10000);
                scene.add(pointLight);
                materials.preload();

                var objLoader = new THREE.OBJLoader();
                objLoader.setMaterials(materials);
                if (obj) {
                    objLoader.load(obj, function (object) {

                        object.position.y = -70;
                        scene.add(object);
                        model = object;
                        animate();
                        object.preload();
                    }, onProgress, onError);
                }
            });


            var onProgress = function (xhr) {
                if (xhr.lengthComputable) {
                    var percentComplete = xhr.loaded / xhr.total * 100;
                    console.log(Math.round(percentComplete, 2) + '% downloaded');
                }
            };

            var onError = function (xhr) {
            };
        }
    }


    function onTouchMove( event ) {

        if ( event.changedTouches ) {

            x = event.changedTouches[ 0 ].pageX;
            y = event.changedTouches[ 0 ].pageY;

        } else {

            x = event.clientX;
            y = event.clientY;

        }

        mouse.x = ( x / width ) * 2 - 1;
        mouse.y = - ( y / height ) * 2 + 1;
    }

    function onWindowResize() {

        windowHalfX = width / 2;
        windowHalfY = height / 2;

        camera.aspect = width / height;
        camera.updateProjectionMatrix();

        renderer.setSize( width, height );

    }

    var id;
    function animate() {
        model.rotateY(0.01);
        renderer.render(scene, camera);
        id = requestAnimationFrame(animate);

    }


    function stop() {
        if(id !== null){
            cancelAnimationFrame(id);
            id = null;
        }
    }

    function start() {
        if(id == null){
            id = requestAnimationFrame(animate);
        }
    }
</script>

<script>
    jQuery(document).ready(function() {
        App.initnocheckboxes();
        $('#yt_left_menu_3D').addClass("active");
        $('#yt_left_menu_3Dset').addClass("active");

        $('#yt_left_menu_3D_arrow .arrow ').remove();
        $('#yt_left_menu_3D_arrow ').append( '<span class="selected"></span> ');
        $('#yt_left_menu_3D_arrow ').append( '<span class="arrow open"></span>	');

        showSelect('#NumberOfRows','{$Think.cookie.NumberOfRows}');
    });


</script>
<include file="Framefile:yt_dialog_data" />
</body>
</html>





