<taglib name="html"/>
<style>
    .page {
        height: 18px;
        padding-top: 20px;
        text-align: center;
    }

    DIV.page {
        PADDING-RIGHT: 5px;
        PADDING-LEFT: 3px;
        PADDING-BOTTOM: 3px;
        MARGIN: 3px;
        PADDING-TOP: 3px;
        TEXT-ALIGN: center;
        margin-top: 20px;
    }

    DIV.page A {
        BORDER: #E66C16 1px solid;
        PADDING-RIGHT: 5px;
        PADDING-LEFT: 5px;
        PADDING-BOTTOM: 2px;
        MARGIN: 0px;
        COLOR: #333;
        PADDING-TOP: 2px;
        TEXT-DECORATION: none
    }

    DIV.page A:hover {
        BORDER: #E45A11 1px solid;
        COLOR: #000;
        background: #FCD3BE;
    }

    DIV.page A:active {
        BORDER-RIGHT: #000099 1px solid;
        BORDER-TOP: #000099 1px solid;
        BORDER-LEFT: #000099 1px solid;
        COLOR: #000;
        BORDER-BOTTOM: #000099 1px solid
    }

    DIV.page SPAN.current {
        BORDER: #E34F0F 1px solid;
        PADDING-RIGHT: 5px;
        PADDING-LEFT: 5px;
        FONT-WEIGHT: bold;
        PADDING-BOTTOM: 2px;
        MARGIN: 2px;
        COLOR: #333;
        PADDING-TOP: 2px;
        BACKGROUND-COLOR: #FCD3BE;
    }

    DIV.page SPAN.disabled {
        BORDER-RIGHT: #ccc 1px solid;
        PADDING-RIGHT: 5px;
        BORDER-TOP: #ccc 1px solid;
        PADDING-LEFT: 5px;
        PADDING-BOTTOM: 2px;
        MARGIN: 0px;
        BORDER-LEFT: #ccc 1px solid;
        COLOR: #aaa;
        PADDING-TOP: 2px;
        BORDER-BOTTOM: #ccc 1px solid;
    }
</style>
<include file="Framefile:yt_header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/css/ssi-uploader.css"/>
<div class="yt-head-row">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>虚拟与现实	</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li id="li2">
                    <span id="model_img">模型贴图上传</span>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="form-section">商品模型上传</h4>
            <li class="btn-group yt_float_left">
                <button type="button" class="btn {$btn_flag1} dropdown-toggle" data-toggle="dropdown"
                        data-hover="dropdown" data-delay="1000" data-close-others="true">
                    <span><b>&nbsp; &nbsp;请选择商品&nbsp; &nbsp;</b></span> <i class="icon-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <strong>
                        <foreach name='goods_name' item="name">
                            <li><a href="javascript:void(0);" class="goodscate" gid="{$name.id}">{$name.name}</a>
                            </li>
                        </foreach>
                    </strong>
                </ul>
            </li>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-condensed table-striped" id="table">
                    <thead id="12348">
                    <tr>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>模型文件上传</th>
                        <th>属性管理</th>
                        <th>贴图</th>
                        <th>预览</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal-content modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title" id="myModalLabel">贴图上传</h5>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-condensed table-striped table-bordered" id="table1">
            <thead>
            <tr>
                <th>序号</th>
                <th>字段</th>
                <th>字段值</th>
                <th>贴图上传</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>


<div class="modal-content modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h5 class="modal-title" id="myModalLabel">属性关联</h5>
    </div>
    <div class="modal-body" id="selectimg">
        <table class="table table-hover table-condensed table-striped" id="table2">
            <thead>
            <tr>
                <th>序号</th>
                <th>属性</th>
                <th>MTL标题</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary" id="Submit_Association">提交关联</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</div>

<include file="Framefile:yt_footer"/>
<script src="__PUBLIC__/js/three.js"></script>
<script src="__PUBLIC__/js/controls/OrbitControls.js"></script>
<script src="__PUBLIC__/js/loaders/DDSLoader.js"></script>
<script src="__PUBLIC__/js/loaders/MTLLoader.js"></script>
<script src="__PUBLIC__/js/loaders/OBJLoader.js"></script>
<script src="__PUBLIC__/js/ssi-uploader.js"></script>

<script>
    $('.goodscate').each(function () {
        $(this).click(function () {
            var g = $(this).html();
            var gid = $(this).attr('gid');
            $.post('__URL__/goodscatelist', {gid: gid}, function (data) {
                if (data) {
                    var list = "<tbody id='obj' info='objmtl'>";
                    for (var i = 0; i < data.length; i++) {
                        var cate = data[i];
                        if (cate.cate != null) {
                            var num = i + 1;
                            list += "<tr class='list' style='font-weight: lighter;'><th>" + num + "</th>";
                            list += "<th style='display: none' id='cateid'>" + cate.id + "</th>";
                            list += "<th id='cate'>" + cate.cate + "</th>";
                            list += "<th>" + "<div>" +
                                "<div>" +
                                "<input type='file' multiple class='ssi-upload1'/>" +
                                "</div>" +
                                "</div>" + "</th>";
                            list += "<th>" + "<button class='btn btn-warning' data-toggle='modal' data-target='myModal1'>管理</button>" + "</th>";
                            list += "<th>" + '<a class="btn btn-primary upimgbtn">' + "贴图上传" + "</a>" + "</th>";
                            list += "<th>" + "<button class='btn btn-info preview'>预览</button>" + "</th>"
                        }
                        list += "</tr>";
                    }
                    list += "</tbody>";
                    var jtou = '<i class="icon-angle-right" id="jtou2"></i>';
                    if ($('.icon-angle-right').length <= 1) {
                        $('#model_img').append(jtou);
                    }
                    var goods = "<li id='li3' style='font-size: 14px;'>" + g + "</li>";
                    $('#li3').empty();
                    $('#li2').after(goods);
                    $('.list').empty();
                    $('#table').append(list);
                    $('.preview').each(function () {
                        $(this).click(function () {
                            var cate_id = $(this).parent('th').prev().prev().prev().prev().prev().html();
                            $.post("__URL__/preview", {cate_id: cate_id}, function (data) {

                            })
                        })
                    })
                    $('.ssi-upload1').ssi_uploader({
                        url: '__URL__/upload',
                        dropZone: false,
                        maxFileSize: 100,
                        allowed: ['obj', 'mtl']
                    });
                    $('.btn-warning').each(function () {
                        $(this).click(function () {
                            var cate_id = $(this).parents('th').prev().prev().prev().html();
                            $.ajax({
                                url: '__URL__/mtlinfo',
                                data: {cate_id: cate_id},
                                type: "post",
                                cache: false,
                                async: false,
                                success: function (mes) {
                                    if (mes.info == "none") {
                                        alert('请先上传模型相关文件！');
                                        return false;
                                    }
                                    attrlist = "<tbody id='attrlist1'>";
                                    if (mes.status) {
                                        //拼接select框
                                        opt = "<select class='form-control border-radius mtl_select'>" + "<option style='display: none;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-----------&nbsp;请&nbsp;选&nbsp;择&nbsp;-----------</option>"
                                        for (var a = 0; a < mes.info.length; a++) {
                                            var mtl = mes.info[a];

                                            if (mtl.mtl_title != null) {
                                                opt += '<option value=' + '"' + mtl.id + '"' + '>' + mtl.mtl_title + "</option>";
                                            }
                                        }

                                        opt += "</select>";
                                        //拼接table表格
                                        for (var i = 0; i < mes.data.length; i++) {
                                            var attr = mes.data[i];

                                            if (attr.attr != null) {
                                                var num = i + 1;
                                                attrlist += "<tr class='list2'><th>" + num + "</th>";
                                                attrlist += "<th style='display: none'>" + attr.id + "</th>";
                                                attrlist += "<th id='cate'>" + attr.attr + "</th>";
                                                attrlist += "<th>" + opt + "</th>";
                                            }
                                            attrlist += "</tr>";
                                        }
                                        attrlist += "</tbody>";
                                    }
                                    $('.list2').empty();
                                    $('#table2').append(attrlist);
                                    $('#myModal1').modal('toggle');
                                    $('.mtl_select').each(function () {
                                        $(this).change(function () {
                                            var mtl_id = $(this).children('option:selected').val();
                                            var val = $(this).children('option:selected').html();
                                            var cate = $(this).parent().prev().html();
                                            var attr_id = $(this).parent().prev().prev().html();
                                            var message = "确认要将" + " " + val + " " + "与" + " " + cate + " " + "关联吗？";
                                            var bol = confirm(message);
                                            if (bol) {
                                                $.ajax({
                                                    data: {mtl_id: mtl_id, attr_id: attr_id},
                                                    type: "post",
                                                    url: "__URL__/related",
                                                    cache: false,
                                                    async: false,
                                                    success: function (mes) {
//                                                        alert('gua');
                                                    }
                                                });
                                            }
                                        });
                                    });
                                }
                            });
                        });
                    });
                    $('.upimgbtn').each(function () {
                        $(this).click(function () {
                            var cate_id = $(this).parent().prev().prev().prev().prev().html();
                            var cate = $(this).parent().prev().prev().prev().html();
                            $.post('__URL__/modelmap', {cate_id: cate_id, cate: cate}, function (mes) {
                                if (mes) {
                                    var list1 = "<tbody>";
                                    var s = 0;
                                    for (var i = 0; i < mes.length; i++) {
                                        var me = mes[i];
                                        if (me != null) {
                                            s++;
                                            list1 += "<tr class='list1'><th>" + s + "</th>";
                                            list1 += "<th>" + me.attr + "</th>";
                                            list1 += "<th>" + me.value + "</th>";
                                            list1 += "<th style='display: none'>" + me.id + "</th>"
                                            list1 += "<th style='display: none'>" + me.cate_id + "</th>";
                                            list1 += "<th>" + "<div>" +
                                                "<div>" +
                                                "<input type='file' multiple class='ssi-upload'/>" +
                                                "</div>" +
                                                "</div>" + "</th>";
                                        }
                                        list1 += "</tr>";
                                    }
                                    list1 += "</tbody>";
                                    $('.list1').empty();
                                    $('#table1').append(list1);
                                    $('#myModal').modal('toggle');
                                    $('.ssi-upload').ssi_uploader({
                                        url: '__URL__/upload',
                                        maxFileSize: 60,
                                        dropZone: false,
                                        allowed: ['jpg', 'gif', 'png', 'jpeg'],
                                        data: {id: id}
                                    });
                                } else {
                                    alert('请先在该商品下添加字段和值！');
                                }
                            });
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    jQuery(document).ready(function () {
        App.initnocheckboxes();
        $('#yt_left_menu_3D').addClass("active");
        $('#yt_left_menu_3Dset').addClass("active");

        $('#yt_left_menu_3D_arrow .arrow ').remove();
        $('#yt_left_menu_3D_arrow ').append('<span class="selected"></span> ');
        $('#yt_left_menu_3D_arrow ').append('<span class="arrow open"></span>	');

        showSelect('#NumberOfRows', '{$Think.cookie.NumberOfRows}');
    });
</script>
<include file="Framefile:yt_dialog_data"/>
</body>
</html>





