<taglib name="html" />     
 
<include file="Framefile:yt_header" /> 

         <!-- BEGIN PAGE HEADER-->
		<div class="yt-head-row">
			 <div class="row">
				<div class="col-md-12">
				   <!-- BEGIN PAGE TITLE & BREADCRUMB-->

				   <ul class="page-breadcrumb breadcrumb">

					  
					  <li>
						 <span>{$Think.lang._SETUP_}<!--参数设置--></span>
						 <i class="icon-angle-right"></i>
					  </li>
					   <li>
						   <span>{$goods_name.name}<!--参数设置--></span>
						   <i class="icon-angle-right"></i>
					   </li>
					   <li>
						   <span>{$name.cate}<!--参数设置--></span>
						   <i class="icon-angle-right"></i>
					   </li>
					  <li><span>{$Think.lang._DEFAULTFIELDS_}<!--自定义字段设置--></span></li>					   					  
				   </ul>
			   
				   
				   <!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			 </div>
		</div>
         <!-- END PAGE HEADER-->
		 
         <!-- BEGIN PAGE CONTENT-->
		 
		 
         <div class="row">
            <div class="col-md-12">
                     <div class="table-toolbar">
					<!--	<div class="clearfix">					
                           <a class="btn blue" href="JavaScript:window.open('__APP__/Setdefaultfields/defaultfields_add');">添加新字段 <i class="icon-plus"></i>	</a> 
						</div>	-->		

                        <div class="btn-group">
                           <button id="yt_btn_add" class="btn green"   >
                           添加新字段 <i class="icon-plus"></i>
                           </button>
                        </div>

						
                     </div>
					 
					<div class="table-responsive"> 
						 <table class="table   table-hover table-bordered " id="yt_table">  
							<thead>
							   <tr>
							      <th>序号</th>
								  <th>字段名称</th>
								  <th>字段类型</th>								  
								  <th>字段值</th>
								  <th>操作</th>
							   </tr>
							</thead>
							<tbody>	
							  <?php if($recordlist==null) : ?>
									<TR >
										<TD>无数据</TD>
										<TD></TD>
										<TD></TD>
										<TD></TD>
										<TD></TD>
									</TR>
							  <?php else : ?>
								<volist name="recordlist" id="vo" key="k" >	
									<TR >
									<TD>{$k}</TD>
									<TD>{$vo.attr}</TD>
									<TD>
									    <if condition="$vo.check eq 1">文本</if>
                                        <if condition="$vo.check eq 2">日期</if>										
                                        <if condition="$vo.check eq 3">单选</if>
                                        <if condition="$vo.check eq 4">多选</if>
									 </TD>
									<TD>{$vo.value}</TD>									 
									<TD>
										   <button id="yt_btn_edit" class="btn blue btn-xs "  onClick="edit_record('{$vo['id']}')"  >
										   修改 <i class="icon-edit"></i>
										   </button>
										   <button id="yt_btn_del" class="btn red btn-xs   yt_marginleft5 "  onClick=" del_record('{$vo['id']}')  "  >
										   删除 <i class="icon-remove"></i>
										   </button>	
										   <button  class="btn dark btn-xs yz_up"  onClick=" up_record('{$vo['id']}','{$vo['sort']}')  "  >
										   排序上移 <i class="icon-arrow-up"></i>
										   </button>
										   <button  class="btn dark btn-xs   yt_marginleft5 yz_down"  onClick=" down_record('{$vo['id']}','{$vo['sort']}')  "  >
										   排序下移 <i class="icon-arrow-down"></i>
										   </button>											   
									 </TD>									
									 </TR>				 
								</volist>	
							   <?php endif ?>
							  
							 </tbody>		
						 </table>
                    </div>					 
					 
	

            </div>
         </div>		


		 <!-- BEGIN DIALOG_FORM  -->
		 <div id="yt_dialog_form" class="modal fade" tabindex="-1" aria-hidden="true" data-width="750" >
				  <div class="modal-header" id="yt_modal-header" >
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					 <h4 class="modal-title" id="yt_dialog_title">添加</h4>
				  </div>
				  <div class="modal-body " >
						<form class="form-horizontal" role="form">
						  <div class="form-group">
							<label for="attr" class="col-sm-3 control-label">字段名称<span class="required" >*</span></label>
							<div class="col-sm-8 " >
							  <input type="text" class="form-control" id="attr" name="inputdatabox" >
							</div>
						  </div>
							<div class="form-group" style="display:none">
								<label for="cate_id" class="col-sm-3 control-label">分类ID<span class="required" >*</span></label>
								<div class="col-sm-8 " >
									<input type="text" class="form-control" id="cate_id" name="inputdatabox" value="{$cate_id}">
								</div>
							</div>
							<div class="form-group" style="display:none">
								<label for="gid" class="col-sm-3 control-label">分类ID<span class="required" >*</span></label>
								<div class="col-sm-8 " >
									<input type="text" class="form-control" id="gid" name="inputdatabox" value="{$goods_name.id}">
								</div>
							</div>
						  <div class="form-group">
							<label  class="col-sm-3 control-label">字段类型<span class="required" >*</span></label>
							<div class="col-sm-8">  
								  <div class="radio-list yt_marginleft15 "  >
									 <label   class="radio-inline" >
										  <input type="radio" name="check" value="1" data-title="文本"  checked /> 文本
									 </label>
									 <label   class="radio-inline" >
										  <input type="radio" name="check" value="2" data-title="日期"  /> 日期
									 </label>											 
									 <label  class="radio-inline" >
										  <input type="radio" name="check" value="3" data-title="单选" /> 单选
									 </label>
									 <label  class="radio-inline" >
										  <input type="radio" name="check" value="4" data-title="多选" /> 多选
									 </label>
									<span class="help-block">这将决定顾客定制时的选择方式 																	
									</span>											 										 
								  </div>		
							</div>
						  </div>
						  
						  <div class="form-group" id="value_disp"  >
							   <label for="value" class="control-label col-md-3">字段值<span class="required" ></span></label>
							   <div class="col-md-8">										   
									 <input type="text" id="value" class="form-control select2" required data-placeholder="请输入..." name="inputdatabox" >
							   </div>
							</div>							  
						  
						  
						  <div class="form-group" id="yt_dialog_addchecktext">
							<div class="col-sm-offset-3 col-sm-8">
							  <div class="checkbox yt_marginleft15 ">
								<label >
								  <input type="checkbox" id="yt_dialog_addcheck" checked="true" > 连续添加
								</label>
							  </div>
							</div>
							<input id="edit_record_id" type="hidden" />
						  </div>                                             
						</form>								
				  </div>
				  <div class="modal-footer">
					 <button type="button" data-dismiss="modal" class="btn default" id="yt_dialog_btn_cancel">取消</button>
					 <button type="button" class="btn green" id="yt_dialog_btn_ok">确认</button>  
				  </div>
		 </div>
		 <!-- END DIALOG_FORM  -->	

		 
		 


      </div>
    <!--   END PAGE -->
   </div>
		 

  <include file="Framefile:yt_footer" />

   <script>

     jQuery(document).ready(function() {       
         App.initnocheckboxes();
		 UIExtendedModals.init();
		 checkRadio();

        $('#yt_left_menu_setup').addClass("active");  
		$('#yt_left_menu_setup_defaultfields').addClass("active");

		$('#yt_left_menu_setup_arrow .arrow ').remove();
		$('#yt_left_menu_setup_arrow ').append( '<span class="selected"></span> ');
		$('#yt_left_menu_setup_arrow ').append( '<span class="arrow open"></span>	');	 
		

      }); 
	  
	  
	YTapp='__APP__';  	  
	  
	$('#form_wizard_1 .button-submit').click(function () { 
	    var url='__URL__/'+'ajaxinsert';
		yt_ajaxsubmit(url,0,1) ;
	}).hide();	
	

	$("#value").select2({
            tags: [ 
			
			      ]		
       });
	   
	$('.yz_up').first().css('display','none');
	$('.yz_down').last().css('display','none');	   
	   
	   
		
	 $(function(){
	  $(":radio").click(function(){
		 checkRadio();
	  });
	 });	
	 
	 
	function checkRadio() {   // 关闭或者打开字段值
		  var item ='1';
		  $("input:radio").each(function(){ 
					if(this.checked){
						item=$(this).val();
					}
				});
		if ( item=='1' || item=='2' ) {
				$("#value_disp").hide();
		} else {
				$("#value_disp").show();
		}	 
	} 	

	function up_record(id,sort) {   //排序上移
		if (confirm("确认要排序上移？")) {
		   var url='__URL__/'+'sortup';		   
	       ajax_submit(url,{id:id,sort:sort} )   //ajax 提交数据
		}	
	} 	
	
	function down_record(id,sort) {   //排序下移
		if (confirm("确认要排序下移？")) {
		   var url='__URL__/'+'sortdown';		   
	       ajax_submit(url,{id:id,sort:sort} )   //ajax 提交数据
		}	
	} 	
	  
	
	
   </script>
   
   <script type="text/javascript">   
     function dialogcheckdata() {   
         var checkvalid = true;
	       checkvalid = checkvalid && checkLength( $( "#attr" ), "字段名称", StringLength001, StringLength100 );
	     return checkvalid;
	  };
	
    function dialogclearinputbox() {   	
        dialog_clear_allbox(); 
		$("#attr").focus(); 
	  }	;
	  
	 function dialog_clear_allbox() {   
		var a=document.getElementsByName( "inputdatabox" ) ;  
		for(var   i=0;i <a.length;i++)
                if(i != 1 &&i != 2){
                    a[i].value='';
				}

	    $("#value").select2({
            tags: [ 
			
			      ]		
        });

		checkRadio();   
} ;
	  	  		  	  	
</script>  
   
   
 <include file="Framefile:yt_dialog_data" />    
</body>
</html>
		 
		 
		 
		 
		 
 