<taglib name="html" />
<style>
	.page{height:18px;padding-top:20px;text-align:center;}
	DIV.page {PADDING-RIGHT: 5px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center;margin-top:20px;}
	DIV.page A {BORDER: #E66C16 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 2px; TEXT-DECORATION: none}
	DIV.page A:hover {BORDER: #E45A11 1px solid; COLOR: #000; background:#FCD3BE;}
	DIV.page A:active {BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid}
	DIV.page SPAN.current {BORDER: #E34F0F 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #333; PADDING-TOP: 2px;BACKGROUND-COLOR: #FCD3BE;}
	DIV.page SPAN.disabled {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #aaa; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; }
</style>
<include file="Framefile:yt_header" />
<script src="__PUBLIC__/js/dropzone.js"></script>
<div class="yt-head-row">
    <div class="row">
        <div class="col-md-12">
           <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <span>图片管理	</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <span>公司图片管理</span>
                </li>
            </ul>
           <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
</div>
         <!-- END PAGE HEADER-->

         <!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
<!-- BEGIN FILTER -->
<!--<div class="col-md-3 col-sm-4 mix category_1">-->
<!--<div class="mix-inner">-->
<!--<h4>&nbsp;&nbsp;无图片..</h4>-->
<!--</div>-->
<!--</div>-->
        <foreach name="res" item="vo">
            <div class="col-md-1 col-sm-4 mix category_1 yt_margintop15 "    >
                <div class="mix-inner" >
                    <a class="fancybox-button" href="" title="" data-rel="fancybox-button" >
                        <img src="./{$vo['image_url']}{$vo['image_name']} " style="height: 120px;">
                    </a>
                    <button class="btn blue btn-sm tooltips" data-original-title="删除图片" img_id="{$vo.id}" style="margin-left: 50px;">
                        <i class="icon-remove"></i>
                    </button>
                </div>
            </div>
        </foreach>
        <div class="yt-head-row">
            <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 yt_margintop-10 ">
                <div class="page">
                    {$page}
                </div>
            </div>
        </div>
        <div class="yt-head-row">
            <div class="row">
                <div class="col-md-12">
                    <ul class="page-breadcrumb breadcrumb"></ul>
                </div>
            </div>
        </div>
<!-- END FILTER -->
    </div>
</div>

<div class="row  " >
    <div class="col-md-12 yt_margintop-30 ">
        <h4 class="form-section">文件上传</h4>
            <div class="form-group">
                <div class="container" id="container">
                    <div id="actions" class="row">
                        <div class="col-lg-7">
                        <span class="btn btn-success fileinput-button dz-clickable" id="fileinput">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>添加文件</span>
                        </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>开始上传</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>取消上传</span>
                            </button>
                        </div>
                        <div class="col-lg-5">
                        </div>
                    </div>
                    <div class="table table-striped files" id="previews">
                    </div>
                    <script>
                        //定制你想要的显示图片的界面
                        var previewTemplate1 = '<div class="dz-preview dz-file-preview test"><div class="dz-details"><div class="dz-filename"><span data-dz-name></span></div><div class="dz-size" data-dz-size></div><img data-dz-thumbnail /></div><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div>';
                        var myDropzone = new Dropzone(document.body, {
                            //这是负责处理上传的路径
                            url:'__URL__/upload/type/1',
                            thumbnailWidth: 80,
                            thumbnailHeight: 80,
                            parallelUploads: 20,
                            addRemoveLinks:true,
                            previewTemplate: previewTemplate1,
                            //不自动提交图片，直到手动提交
                            autoQueue: false,
                            //预览图片的容器
                            previewsContainer: "#previews",
                            clickable: ".fileinput-button"
                        });
                        myDropzone.on("addedfile", function(file) {
                        });
                        // Update the total progress bar
                        myDropzone.on("totaluploadprogress", function(progress) {
                            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                        });
                        myDropzone.on("sending", function(file) {
                        });
                        // Hide the total progress bar when nothing's uploading anymore
                        myDropzone.on("queuecomplete", function(progress) {
                            document.querySelector("#total-progress").style.opacity = "0";
                        });
                        document.querySelector("#actions .start").onclick = function() {
                            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
                        };
                        document.querySelector("#actions .cancel").onclick = function() {
                            myDropzone.removeAllFiles(true);
                        };
                    </script>

                </div>
                <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
            </div>
            <div class="note note-info">
                <h4 class="block">上传图片注意事项</h4>
                <p>
                   1.只能上传 .jpg  .gif  .png  .jpeg 这4种格式图片文件
                </p>
                <p>
                  2.每张图片大小不超过&nbsp;<span class="yt_color_red" >{$Think.cookie.images_maxsize_kb}</span>
                </p>
            </div>
    </div>
</div>
   </div>
<include file="Framefile:yt_footer" />
<script>
jQuery(document).ready(function() {
    App.initnocheckboxes();
    $('#yt_left_menu_images').addClass("active");
    $('#yt_left_menu_images_companyimage').addClass("active");

    $('#yt_left_menu_images_arrow .arrow ').remove();
    $('#yt_left_menu_images_arrow ').append( '<span class="selected"></span> ');
    $('#yt_left_menu_images_arrow ').append( '<span class="arrow open"></span>	');

    showSelect('#NumberOfRows','{$Think.cookie.NumberOfRows}');
  });


</script>
<include file="Framefile:yt_dialog_data" />
</body>
</html>





