
   <!-- BEGIN CONTAINER -->
   <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->        
         <ul class="page-sidebar-menu">
            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler hidden-phone"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li>
               <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                 <br>
               <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start " id="yt_left_menu_index">
               <a href="__APP__/Index/index_menu">
               <i class="icon-home"></i> 
               <span class="title">首页</span>
               </a>
            </li>
            <li id="yt_left_menu_admin" >
               <a href="javascript:;" id="yt_left_menu_admin_arrow" >
				   <i class=" icon-comments-alt"></i> 
				   <span class="title">系统管理后台</span>
				    <span class="arrow "></span>  			   
               </a>
               <ul class="sub-menu">	   
                  <li id="yt_left_menu_admin_company">
                     <a href="__APP__/Admincompany/company_list">
                     公司查询管理</a>
                  </li>	
                  <li id="yt_left_menu_admin_notice">
                     <a href="__APP__/Admincompany/notice_list">
                     系统消息</a>
                  </li>							  
                  <li id="yt_left_menu_admin_questions">
                     <a href="__APP__/Admincompany/questions_list">
                     答疑、建议、反馈处理</a>
                  </li>					  
                  <li id="yt_left_menu_admin_priceplan">
                     <a href="__APP__/Admincompany/priceplan">
                     软件收费套餐规格</a>
                  </li>	
                  <li id="yt_left_menu_admin_moneystatistics">
                     <a href="__APP__/Admincompany/moneystatistics">
                     收费明细和汇总统计</a>
                  </li>	
                  <li id="yt_left_menu_admin_statistics">
                     <a href="__APP__/Admincompany/statistics">
                     综合统计</a>
                  </li>							  
                  <li id="yt_left_menu_admin_watchdog">
                     <a href="__APP__/Admincompany/watchdog_company">
                     公司管理操作日志</a>
                  </li>						  
               </ul>	   			   
            </li>
            <li id="yt_left_menu_mobile" >
               <a href="javascript:;" id="yt_left_menu_mobile_arrow" >
				   <i class="icon-user"></i> 
				   <span class="title">移动/PC管理</span>
				    <span class="arrow "></span>  			   
               </a>
               <ul class="sub-menu">
                  <li>
                     <a href="  JavaScript:window.open('__APP__/Mobilemenu/workemenu_admin');   ">
                     工作菜单</a>
                  </li>		
                  <li>
                     <a href="  JavaScript:window.open('__APP__/Mobilemenu/callmenu');   ">
                     来电菜单</a>
                  </li>	
                  <li>
                     <a href="  JavaScript:window.open('__APP__/Mobilemenu/othersmenu');   ">
                     其他菜单</a>
                  </li>					  
                  <li>
                     <a href="  JavaScript:window.open('__APP__/Mobilelogin/pc_menu/');   ">
                     pc网址</a>
                  </li>			
               </ul>	
			   
            </li>				
			
			


					
			
			

         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">


