<taglib name="html" />

<include file="Framefile:yt_header" />

<!-- BEGIN PAGE HEADER-->
<div class="yt-head-row">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->

            <ul class="page-breadcrumb breadcrumb">
                <li class="btn-group">
                </li>

                <li>
                    <span>参数设置</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <span>{$name.name}</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li><span>添加分类</span></li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="table-toolbar">
            <div class="btn-group">
                <button id="yt_btn_add" class="btn green"   >
                    添加分类 <i class="icon-plus"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table   table-hover table-bordered " id="yt_table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>商品</th>
                    <th>分类</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php if($recordlist==null) : ?>
                <TR >
                    <TD>无数据</TD>
                    <TD></TD>
                    <TD></TD>
                    <TD></TD>
                </TR>
                <?php else : ?>
                <volist name="recordlist" id="vo" key="k">
                    <TR>
                        <TD>{$k} </TD>
                        <TD>{$name.name}</TD>
                        <TD>{$vo.cate}</TD>
                        <TD>
                            <button id="yt_btn_edit" class="btn blue btn-xs "  onClick=" edit_record('{$vo['id']}')  "  >
                                修改 <i class="icon-edit"></i>
                            </button>
                            <button id="yt_btn_del" class="btn red btn-xs  yt_marginleft5  "  onClick=" del_record('{$vo['id']}')  "  >
                                删除 <i class="icon-remove"></i>
                            </button>
                            <a id="yt_btn_del" class="btn green btn-xs  yt_marginleft5" href="{:U('Setdefaultfields/defaultfields_list', array( 'id' => $vo['id'] ))}">
                                自定义字段 <i class="icon-plus"></i>
                            </a>
                        </TD>
                    </TR>
                </volist>
                <?php endif ?>

                </tbody>
            </table>
            <div class="row">
                <!--<div class="col-md-12 yt_margintop15 ">-->

									 <!--<span class="col-md-4 " >-->
										   <!--<select  class="input-sm   " id="NumberOfRows" onchange="YTnumberofrows(this.options[this.selectedIndex].value)" >-->
												<!--<volist name="selectrowslist" id="vo" >-->
													 <!--<option  value="{$vo}" >每页显示&nbsp;{$vo}&nbsp;条</option>-->
												<!--</volist>-->
										  <!--</select>-->
									 <!--</span>-->
                    <!--<span class="pagelink col-md-6 yt_margintop-0 " id="pages"  >-->
										 <!--{$page}-->
									 <!--</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>


<!-- BEGIN DIALOG_FORM  -->
<div id="yt_dialog_form" class="modal fade" tabindex="-1" aria-hidden="true" data-width="550" >
    <div class="modal-header" id="yt_modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="yt_dialog_title">添加</h4>
    </div>
    <div class="modal-body " >
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">分类级别<span class="required" >*</span></label>
                <div class="col-sm-8 " >
                    <select class="form-control" required="" data-placeholder="请选择..." id="id" name="id" tabindex="-1">
                        <option value="0">顶级分类</option>
                        <foreach name="cate" item="v">
                            <option value="{$v.id}">{$v.cate}</option>
                        </foreach>
                    </select>
                    <input type="hidden" name="gid" id="gid" value="{$gid}">
                        <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-3 control-label">分类名称<span class="required" >*</span></label>
                <div class="col-sm-8 " >
                    <input type="text" class="form-control" id="cate" name="cate" >
                </div>
                <input id="edit_record_id" type="hidden" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn default" id="yt_dialog_btn_cancel">取消</button>
        <button type="button" class="btn green" id="cate_add">确认</button>
        __URL__/add
    </div>
</div>
<!-- END DIALOG_FORM  -->

</div>
<!--   END PAGE -->
</div>


<include file="Framefile:yt_footer" />
<script>
    $('#cate_add').click(function () {
        var id = $('#id').children('option:selected').val();
        var gid = $('#gid').val();
        var cate = $('#cate').val();
        $.post('__URL__/add',{id:id,gid:gid,cate:cate},function (json) {
            if(json.status == 1){
                alert("添加成功！");
                window.location.reload();
            }else {
                alert("添加失败！");
            }
        })
    });
</script>


<script>
    jQuery(document).ready(function() {
        App.init();
        UIExtendedModals.init();

        $('#yt_left_menu_setup').addClass("active");
        $('#yt_left_menu_setup_supplier').addClass("active");

        $('#yt_left_menu_setup_arrow .arrow ').remove();
        $('#yt_left_menu_setup_arrow ').append( '<span class="selected"></span> ');
        $('#yt_left_menu_setup_arrow ').append( '<span class="arrow open"></span>	');

        showSelect('#NumberOfRows','{$Think.cookie.NumberOfRows}');
    });

</script>


<script type="text/javascript">
    function dialogcheckdata() {
        var checkvalid = true;
        checkvalid = checkvalid && checkLength( $( "#name" ), "商品名称", StringLength001, StringLength100 );
        checkvalid = checkvalid && checkLength( $( "#price" ), "商品价格", StringLength001, StringLength100 );
        return checkvalid;
    };

    function dialogclearinputbox() {
        dialog_clear_allbox();
        $("#name").focus();
    }	;

    function dialog_clear_allbox() {
        var a=document.getElementsByName( "inputdatabox" ) ;
        for(var   i=0;i <a.length;i++)
            a[i].value='';
    } ;

</script>
<include file="Framefile:yt_dialog_data" />

</body>
</html>





